[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python src/main.py"
format = "ruff format"
type-check="mypy"
test = "pytest"
coverage = "pytest --cov=src --cov-branch --cov-report=html --cov-report=term --cov-report=term-missing"

[packages]
pydantic = "*"
gitpython = "*"
python-dotenv = "*"
typer = "*"
boto3 = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pandas = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ruff = "*"
mypy = "*"
boto3-stubs = "*"
types-boto3 = {extras = ["dynamodb"], version = "*"}

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
